<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c3 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #6aa84f;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 29.2pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c11 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #6aa84f;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 42.8pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c4 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            background-color: #6aa84f;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 46.5pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c42 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 280.5pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c37 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 85.5pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c33 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 46.5pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c24 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 44.2pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c36 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 576.8pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c40 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 0pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 229.5pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c19 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 31.5pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c13 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 32.2pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c34 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 45.8pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c1 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 283.2pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c30 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 73.5pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c8 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 29.2pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c39 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 88.5pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c10 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 41.2pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c21 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 78.8pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c18 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 39.8pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c26 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 72pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c14 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 42.8pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c17 {
            border-right-style: solid;
            padding: 5pt 5pt 5pt 5pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 1pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 1pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 27pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c31 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-family: "Arial";
            font-style: normal
        }

        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Arial";
            font-style: normal
        }

        .c28 {
            color: #0000ff;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Arial";
            font-style: normal
        }

        .c9 {
            color: #ffffff;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Arial";
            font-style: normal
        }

        .c38 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-family: "Arial";
            font-style: normal
        }

        .c5 {
            padding-top: 12pt;
            padding-bottom: 12pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c50 {
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-family: "Arial";
            font-style: normal
        }

        .c2 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left;
            height: 11pt
        }

        .c16 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: center;
            margin-right: 19.5pt
        }

        .c6 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: left
        }

        .c32 {
            border-spacing: 0;
            border-collapse: collapse;
            margin-right: auto
        }

        .c20 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            text-align: center
        }

        .c45 {
            margin-left: -46.5pt;
            border-spacing: 0;
            border-collapse: collapse;
            margin-right: auto
        }

        .c23 {
            background-color: #ffffff;
            max-width: 566.5pt;
            padding: 0pt 14.4pt 72pt 14.4pt
        }

        .c48 {
            margin-left: 121.5pt;
            margin-right: -24pt
        }

        .c47 {
            page-break-after: avoid;
            height: 20pt
        }

        .c44 {
            color: #006400;
            font-weight: 700
        }

        .c15 {
            background-color: #ffff00
        }

        .c27 {
            margin-left: 49.5pt
        }

        .c12 {
            background-color: #6aa84f
        }

        .c25 {
            height: 0pt
        }

        .c43 {
            margin-right: 19.5pt
        }

        .c49 {
            margin-right: 4.5pt
        }

        .c7 {
            height: 216.8pt
        }

        .c41 {
            margin-right: -72pt
        }

        .c22 {
            height: 94.3pt
        }

        .c35 {
            height: 22pt
        }

        .c29 {
            font-size: 12pt
        }

        .c46 {
            height: 11pt
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

</head>

<body class="c23 doc-content">
    <p class="c5 c46"><span class="c0"></span></p><a id="t.badaaa374c85df3d451b6eb6afef96d502bf656f"></a><a
        id="t.0"></a>
    <table class="c45">
        <tbody>
            <tr class="c22">
                <td class="c42" colspan="1" rowspan="1">
                    <p class="c5 c27"><span class="c29 c44">NATIONAL PHYTOPHARMA JOINT STOCK COMPANY</span></p>
                    <p class="c5 c27"><span class="c0">Address : K.06, Long Hau - Hiep Phuoc</span></p>
                    <p class="c5 c27"><span class="c0">{{address}}</span></p>
                </td>
                <td class="c40" colspan="1" rowspan="1">
                    <p class="c2"><span class="c0"></span></p>
                    <p class="c6 c48"><span
                            style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 107.50px; height: 144.36px;"><img
                                alt="" src="{{asset 'images/image1.png' 'dataURI'}}"
                                style="width: 107.50px; height: 144.36px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                                title=""></span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c5 c41"><span class="c44 c50">PHYTO 1 WAREHOUSE ENVIRONMENT MANAGEMENT SYSTEM (EMS) REPORT</span></p><a
        id="t.433b308df2e7a4887aadadb0f1d41eec9934f839"></a><a id="t.1"></a>
    <table class="c32">
        <tbody>
            <tr class="c7">
                <td class="c1" colspan="1" rowspan="1"><canvas id="canvas_s2dporvows"></canvas></td>
                <td class="c1" colspan="1" rowspan="1"><canvas id="canvas_7v0nsci5mqk"></canvas></td>
            </tr>
        </tbody>
    </table>
    <h1 class="c5 c47" id="h.4o1fjma53sh4"><span class="c31"></span></h1><a
        id="t.fe02cb791b4c99ab9e173748e1db0e296b241c9a"></a><a id="t.2"></a>
    <table class="c32">
        <tbody>
            <tr class="c35">
                <td class="c19 c12" colspan="1" rowspan="1">
                    <p class="c6"><span class="c9">No</span></p>
                </td>
                <td class="c21 c12" colspan="1" rowspan="1">
                    <p class="c6"><span class="c9">Time Stamp</span></p>
                </td>
                <td class="c12 c26" colspan="2" rowspan="1">
                    <p class="c20"><span class="c9">Sensor 1<br>A1-1-2</span></p>
                </td>
                <td class="c30 c12" colspan="2" rowspan="1">
                    <p class="c20"><span class="c9">Sensor 2<br>A2-1-2</span></p>
                </td>
                <td class="c30 c12" colspan="2" rowspan="1">
                    <p class="c20"><span class="c9">Sensor 3<br>A2-1-9</span></p>
                </td>
                <td class="c12 c30" colspan="2" rowspan="1">
                    <p class="c20"><span class="c9">Sensor 4<br>A2-19-2</span></p>
                </td>
                <td class="c12 c39" colspan="2" rowspan="1">
                    <p class="c20"><span class="c9">Sensor 5<br>A2-19-9</span></p>
                </td>
                <td class="c12 c37" colspan="2" rowspan="1">
                    <p class="c16"><span class="c9">Sensor 6<br>A2-39-2</span></p>
                </td>
            </tr>
            <tr class="c25">
                <td class="c12 c19" colspan="1" rowspan="1">
                    <p class="c2"><span class="c28"></span></p>
                </td>
                <td class="c12 c21" colspan="1" rowspan="1">
                    <p class="c2"><span class="c28"></span></p>
                </td>
                <td class="c12 c13" colspan="1" rowspan="1">
                    <p class="c6"><span class="c9">°C</span></p>
                </td>
                <td class="c18 c12" colspan="1" rowspan="1">
                    <p class="c6"><span class="c9">RH%</span></p>
                </td>
                <td class="c3" colspan="1" rowspan="1">
                    <p class="c6"><span class="c9">°C</span></p>
                </td>
                <td class="c24 c12" colspan="1" rowspan="1">
                    <p class="c6"><span class="c9">RH%</span></p>
                </td>
                <td class="c13 c12" colspan="1" rowspan="1">
                    <p class="c6"><span class="c9">°C</span></p>
                </td>
                <td class="c10 c12" colspan="1" rowspan="1">
                    <p class="c6"><span class="c9">RH%</span></p>
                </td>
                <td class="c17 c12" colspan="1" rowspan="1">
                    <p class="c6"><span class="c9">°C</span></p>
                </td>
                <td class="c4" colspan="1" rowspan="1">
                    <p class="c6"><span class="c9">RH%</span></p>
                </td>
                <td class="c34 c12" colspan="1" rowspan="1">
                    <p class="c6"><span class="c9">°C</span></p>
                </td>
                <td class="c11" colspan="1" rowspan="1">
                    <p class="c6"><span class="c9">RH%</span></p>
                </td>
                <td class="c12 c24" colspan="1" rowspan="1">
                    <p class="c6"><span class="c9">°C</span></p>
                </td>
                <td class="c10 c12" colspan="1" rowspan="1">
                    <p class="c6"><span class="c9">RH%</span></p>
                </td>
            </tr>{{#each HISTORICAL_DATA}}<tr class="c25">
                <td class="c19" colspan="1" rowspan="1">
                    <p class="c6"><span class="c0 c15">{{number}}</span></p>
                </td>
                <td class="c21" colspan="1" rowspan="1">
                    <p class="c6"><span class="c0 c15">{{time}}</span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c6"><span class="c0 c15">{{COD}}</span></p>
                </td>
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c6"><span class="c15 c29">{{pH}}</span></p>
                </td>
                <td class="c8" colspan="1" rowspan="1">
                    <p class="c6"><span class="c0 c15">{{temp2}}</span></p>
                </td>
                <td class="c24" colspan="1" rowspan="1">
                    <p class="c6"><span class="c15 c29">{{humi2}}</span></p>
                </td>
                <td class="c13" colspan="1" rowspan="1">
                    <p class="c6"><span class="c0 c15">{{temp3}}</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c6"><span class="c15 c29">{{humi3}}</span></p>
                </td>
                <td class="c17" colspan="1" rowspan="1">
                    <p class="c6"><span class="c0 c15">{{temp4}}</span></p>
                </td>
                <td class="c33" colspan="1" rowspan="1">
                    <p class="c6"><span class="c15 c29">{{humi4}}</span></p>
                </td>
                <td class="c34" colspan="1" rowspan="1">
                    <p class="c6"><span class="c0 c15">{{temp5}}</span></p>
                </td>
                <td class="c14" colspan="1" rowspan="1">
                    <p class="c6"><span class="c15 c29">{{humi5}}</span></p>
                </td>
                <td class="c24" colspan="1" rowspan="1">
                    <p class="c6"><span class="c0 c15">{{temp6}}</span></p>
                </td>
                <td class="c10" colspan="1" rowspan="1">
                    <p class="c6"><span class="c15 c29">{{humi6}}</span></p>
                </td>
            </tr>{{/each}}
        </tbody>
    </table>
    <p class="c5 c46 c49"><span class="c31"></span></p>
</body>
<script>
    const result = [
        {
            "id": "canvas_s2dporvows",
            "datasource": "{{HISTORICAL_SUMMARY}}"
        },
        {
            "id": "canvas_7v0nsci5mqk",
            "datasource": "{{HISTORICAL_SUMMARY}}"
        }
    ];
    result.forEach(chartItem => {
        const ctx = document.getElementById(chartItem.id);
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [
                    {
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        borderWidth: 1,
                        fill: false
                    },
                    {
                        label: '# of Votes',
                        data: [4, 22, 31, 3, 5, 7],
                        borderWidth: 1,
                        fill: false
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    })
</script>

</html>